Hi {{name}}!
<br><br>Welcome to AQUA! Thanks so much for joining us. You’re on your way to stay connected with your office.
<br><br>AQUA is basically a WhatsApp of employees that lets you stay focus on the important things in your organisation rather than the regular headache of managing your Leaves and Attendance. You will be getting right alerts on your phone.
<br><br>And in case you have team under you, your life would be sorted as you can track their attendance and location right through your mobile. You just have to get configure the right data from Admin Panel.
<br><br>In case you are occupied, we can setup the things right for you. You can reach me on +918727800736 or just shoot me an email at gurpreet.kaur@aquateams.com    
<br><br>I am all here to help!
<br>Cheerfully yours,
<br>Gurpreet Kaur