Hi {{name}}!
<br><br>Welcome to AQUA! Thanks so much for joining us. You’re on your way to manage your team effectively and beyond!
<br><br>AQUA is an attendance & location tracking app that lets you stay focus on the important things in your organisation rather than managing your team’s availability.  You just have to configure the right alerts and you would be notified by AQUA about the information that matters.
<br><br>Just setup your team in AQUA and choose the way you want them to mark their attendance. AQUA lets you mark attendance using
<br><br>-    Biometric device
<br>-    Wifi
<br>-    Manual
<br>-    Beacons
<br><br>In case you are occupied, we can setup the things right for you. You can reach me on +918727800736 or just shoot me an email at gurpreet.kaur@aquateams.com   
<br><br>I am all here to help!
<br>Cheerfully yours,
<br>Gurpreet Kaur